/**APP main ----------------------------------------------------------*/
.appContainer {
  border: 2px solid #000;
  height: 950px;
}

.navDiv{
  display: flex;
}

.navMain1{
  font-size: 1.5rem;
  color: rgb(52, 52, 238);
  margin-left: 75px;
  width: 250px;
  line-height: 2rem;
  height: 35px;
  text-decoration: underline;
  border-right: 2px solid #000;
}

.navMain2{
  font-size: 1.5rem;
  color: rgb(52, 52, 238);
  margin-left: 30px;
  line-height: 2rem;
  text-decoration: underline;
}


.innerContentDiv {
  height: 820px;
  width: 1200px;
  margin: auto;
  margin-top: 50px;
  backdrop-filter: blur(15px);
  background: linear-gradient(90deg, rgba(255, 255, 255, .25), rgba(255, 255, 255, .25), rgba(0, 0, 0, .25), rgba(255, 255, 255, .25));
	background-size: 400% 400%;
  border: 2px solid rgba(100, 100, 100, 0.445);

  opacity: 1;
}


/** List of Players ---ALSO Head Section of Add Player-----------------*/
.listMain {
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.listNav {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}

.header1 {
  margin-top: 0px;
  height: 35px;
  width: 200px;
  font-size: 1.6rem;
  border-right: 2px solid #000;
  text-decoration: underline;
  color: rgb(52, 52, 238);
}

.header2 {
  margin-top: 0px;
  font-size: 1.6rem;
  margin-left: 25px;
  text-decoration: underline;
  color: rgb(52, 52, 238);
}

.tableSub {
  height: 625px;
  width: 1050px;
  border: 2px solid #000;
  overflow: scroll;
}

.tableHeaders {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

.header3{
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 39%;
  height: 40px;
  border-right: 2px solid #000;
  background-color: #02b4fada;
}

.header4 {
  padding-left: 10px;
  width: 40%;
  height: 40px;
  display: flex;
  align-items: center;
  border-right: 2px solid #000;
  background-color: #02b4fada;
}

.header5 {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 20%;
  background-color: #02b4fada;
}

.tableRow {
  display: flex;
  background-color: #fff;
}

.tableRow:nth-child(odd){
  background-color: #02e9fa8c;
}

.playerColumn {
  display: flex;
  align-items: center;
  width: 40%;
  height: 40px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.playerName {
  color: rgb(52, 52, 238);
  padding-left: 10px;
}

.positionColumn {
  display: flex;
  align-items: center;
  width: 40%;
  height: 40px;
  padding-left: 10px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.buttonsED {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 40px;
  padding-left: 10px;
  border-bottom: 2px solid #000;
}

.deleteButton {
  width: 105px;
  height: 30px;
  background-color: red;
  border: none;
  border-radius: 5px;
}

/** Add Player Content --------------------------------------------*/
.tableSub2 {
  height: 325px;
  width: 1050px;
  border: 2px solid #000;
}

.addPlayerText {
  margin-left: 40px;
}

.formMain {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.formAttributes1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  height: 40px;
}

.nameErrors {
  margin-left: 210px;
  margin-top: -10px;
}

.formLabel {
  width: 200px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

.formInput {
  width: 600px;
  height: 25px;
  border: 2px solid #000;
}

.formAttributes2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 960px;
  height: 40px;
}

.formLabel2 {
  font-weight: bold;
  width: 200px;
  text-align: right;
  margin-right: 10px;
}

.formInput2 {
  width: 600px;
  height: 25px;
  border: 2px solid #000;
}

.formButton {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.addButton {
  margin-right: 180px;
  width: 200px;
  height: 25px;
  background-color: green;
  color: #fff;
  box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, 0.9);
}

/** Game/Player Status -----------------------------------------*/
.listMain2 {
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.listHeader{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 10px;
}

.gameStatusHeader{
  margin-top: 10px;
  color: rgb(255, 13, 13);
	font-size: 2.5rem;  
	font-weight: 900;
  letter-spacing: .1rem;
  text-shadow: 3px 2px 10px rgba(0, 183, 255, 0.911), -10px -2px 13px rgba(0, 255, 213, 0.3), 9px 9px 15px rgba(0, 110, 255, 0.1);
  mix-blend-mode: multiply; 
}

.gameSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1100px;
  height: 55px;
  margin-left: 40px;
}

.game1 {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 150px;
  font-size: 1.8rem;
  border-right: 2px solid #000;
}

#gameLink {
  color: rgb(29, 29, 29);
	font-weight: 900;
  letter-spacing: .1rem;
  text-shadow: 3px 2px 10px rgba(0, 183, 255, 0.911), -10px -2px 13px rgba(0, 255, 213, 0.3), 9px 9px 15px rgba(0, 110, 255, 0.1);
  mix-blend-mode: multiply; 
}

#gameLink:hover {
  color: rgb(253, 1, 1);
	font-weight: 900;
  letter-spacing: .1rem;
  text-shadow: 3px 2px 10px rgba(0, 183, 255, 0.911), -10px -2px 13px rgba(0, 255, 213, 0.3), 9px 9px 15px rgba(0, 110, 255, 0.1);
  mix-blend-mode: multiply; 
}

.game2 {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 150px;
  font-size: 1.8rem;
  border-right: 2px solid #000;
  margin-right: 20px;
  margin-left: 20px;
}

.game3 {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 150px;
  font-size: 1.8rem;
}

.tableMain2{
  width: 90%;
  height: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tableSub2 {
  width: 1065px;
  height: 530px;
  border: 2px solid #000;
  overflow: scroll;
}

.tableHeaders2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
  width: 1065px;
  background-color: #02b4fada;
  border: 2px solid #000;
}

.header6 {
  width: 33%;
  height: 25px;
  margin: 0;
  padding: 10px;
  border-right: 2px solid #000;
}

.header7 {
  padding: 10px;
  text-align: center;
  margin: auto;
}

.playerName2 {
  width: 32.6%;
  color: rgb(52, 52, 238);
  padding: 12px;
  border-right: 2px solid #000;
}

.tableRow2 {
  height: 40px;
  display: flex;
  align-items: center;
  width: 1065px;
  background-color: #fff;
}

.tableRow2:nth-child(odd){
  background-color: #02e9fa8c;
}

.buttonsPNU {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62%;
  height: 40px;
  padding-left: 10px;
}

.playingButton {
  width: 30%;
  height: 25px;
  margin-right: 10px;
}

.notPlayingButton {
  width: 30%;
  height: 25px;
}

.undecidedButton {
  width: 30%;
  height: 25px;
  margin-left: 10px;
}